*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:fantasy;
    background-image: url("Sinonimusii.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

h1{
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 100px;
        font-size: 10vh;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        
    
};
